/* BASE_226 | FOOTER | 226_CORMAIN | FOOTERWIDGETS - 2016-03-26 */

// -------------------------------------
// FORMULA

	%footerwidgets-formula {}
	%footerwidgetswrap-formula {}
	%footerwidgetswraponly-formula {}

// -------------------------------------
// EXTEND

	%footerwidgets {
		//background-image: linear-gradient(#ddd, #f0f0f0);
		background-color: #a8c3e1;
	}
	%footerwidgetswrap {
		max-width: #{$size-inside}rem;
		padding: #{$size-default}rem;
		margin-right: auto;
		margin-left: auto;
		//background-color: #eee;
		@extend %boxsizing-borderbox !optional;
	}
	%footerwidgetswraponly {}

// -------------------------------------
// SELECTORS

	.footer-widgets {
		@extend %footerwidgets-formula !optional;
		@extend %footerwidgets !optional;

		.wrap {
			@extend %footerwidgetswrap-formula !optional;
			@extend %footerwidgetswrap !optional;
		}
	}
	.footer-widgets > .wrap {
		@extend %footerwidgetswraponly-formula !optional;
		@extend %footerwidgetswraponly !optional;
	}