/* BASE_226 | WIDGET | 226_CORMAIN_STYLE | WIDGETTITLE - 2016-01-20 */

// -------------------------------------
// FORMULA

	%widgettitle-formula {}

		%sidebar-widgettitle-formula {}
		%sidebarprimary-widgettitle-formula {}
		%sidebarsecondary-widgettitle-formula {}
		%siteheader-widgettitle-formula {}
		%footerwidgets-widgettitle-formula {}
		%afterentry-widgettitle-formula {}

// -------------------------------------
// EXTEND

	%widgettitle {
		color: #ffcc00;
		background-color: #333;
		padding: 5px 5px 2px 8px;
		font-size: #{$fontsize-sml}rem;
		font-weight: $fontweight-thicker;
	}

		%sidebar-widgettitle {}
		%sidebarprimary-widgettitle {}
		%sidebarsecondary-widgettitle {}
		%siteheader-widgettitle {}
		%footerwidgets-widgettitle {}
		%afterentry-widgettitle {}

// -------------------------------------
// SELECTORS

	.widget-title {
		@extend %widgettitle-formula !optional;
		@extend %widgettitle !optional;
	}

		// SIDEBAR

		.sidebar {
			.widget-title {
				@extend %sidebar-widgettitle-formula !optional;
				@extend %sidebar-widgettitle !optional;
			}
		}
		.sidebar.sidebar-primary {
			.widget-title {
				@extend %sidebarprimary-widgettitle-formula !optional;
				@extend %sidebarprimary-widgettitle !optional;
			}
		}
		.sidebar.sidebar-secondary {
			.widget-title {
				@extend %sidebarsecondary-widgettitle-formula !optional;
				@extend %sidebarsecondary-widgettitle !optional;
			}
		}

		// SITE-HEADER

		.site-header {
			.widget-title {
				@extend %siteheader-widgettitle-formula !optional;
				@extend %siteheader-widgettitle !optional;				
			}
		}

		// FOOTER-WIDGETS

		.footer-widgets {
			.widget-title {
				@extend %footerwidgets-widgettitle-formula !optional;
				@extend %footerwidgets-widgettitle !optional;
			}
		}

		// AFTER-ENTRY

		.after-entry {
			.widget-title {
				@extend %afterentry-widgettitle-formula !optional;
				@extend %afterentry-widgettitle !optional;
			}
		}