/* BASE_226 | LAYOUT | 227_BASE | CS - 2016-03-30 */

// -------------------------------------
// EXTEND

	%cs-csw {
		float: left;
		width: 100%;
	}

	%cs-content {
		float: left;
		width: 70%;
	}

	%cs-sidebarprimary {
		float: right;
		width: 30%;
	}

// -------------------------------------
// SELECTORS

	.content-sidebar .content-sidebar-wrap {
		@extend %cs-csw !optional;
	}

	.content-sidebar .content {
		@extend %cs-content !optional;
	}

	.content-sidebar .sidebar-primary {
		@extend %cs-sidebarprimary !optional;
	}