/* BASE_226 | LAYOUT | 227_BASE | CSS - 2016-03-30 */

// -------------------------------------
// EXTEND

	%css-csw {
		float: left;
		width: 80%;
	}

	%css-content {
		float: left;
		width: 70%;
	}

	%css-sidebarprimary {
		float: right;
		width: 30%;
	}

	%css-sidebarsecondary {
		float: right;
		width: 20%;
	}

// -------------------------------------
// SELECTORS

	.content-sidebar-sidebar .content-sidebar-wrap {
		@extend %css-csw !optional;
	}

	.content-sidebar-sidebar .content {
		@extend %css-content !optional;
	}

	.content-sidebar-sidebar .sidebar-primary {
		@extend %css-sidebarprimary !optional;
	}

	.content-sidebar-sidebar .sidebar-secondary {
		@extend %css-sidebarsecondary !optional;
	}