/* BASE_226 | LAYOUT | 227_BASE | FULL - 2016-03-30 */

// -------------------------------------
// EXTEND

	%full-csw {
		float: none;
		width: 100%;
	}

	%full-content {
		float: none;
		width: 100%;
	}

// -------------------------------------
// SELECTORS

	.full-width-content .content-sidebar-wrap {
		@extend %full-csw !optional;
	}

	.full-width-content .content {
		@extend %full-content !optional;
	}