/* BASE_226 | INNER | 227_CORMAIN | SITEINNER - 2016-03-30 */

// -------------------------------------
// EXTEND

	%siteinner {
		background-color: #ddd;
		box-sizing: border-box;
	}
	%siteinnerwrap {
		box-sizing: border-box;
		//padding: 1rem;
	}
	%siteinnerwraponly {}

// -------------------------------------
// SELECTORS

	.site-inner {
		@extend %siteinner !optional;

		.wrap {
			@extend %siteinnerwrap !optional;
		}
	}
	.site-inner > .wrap {
		@extend %siteinnerwraponly !optional;
	}