/* BASE_227 | LAYOUT | 230_BASE > COR-MAIN | INNER - 2016-08-10 */

// -------------------------------------
// EXTEND

	// SITE-INNER

	%siteinner {
		background-color: #ddd;
		@extend %boxsizing-borderbox !optional;
	}
	%siteinnerwrap {}
	%siteinnerwraponly {
		margin: 0 auto;
		padding: 1.5rem;
		@extend %boxsizing-borderbox !optional;

		@include responsive-range(lrgbelowdown) {
			padding: 1rem;
		}

		@include responsive-range(medbelowdown) {
			padding: 0.5rem;
		}
	}

	%siteinner-home {}
	%siteinnerwrap-home {}
	%siteinnerwraponly-home {
		padding: 1rem;
	}

	// CONTENT-SIDEBAR-WRAP

	%csw {
		float: left;
		width: 100%;
		margin-bottom: 1rem;
		@extend %boxsizing-borderbox !optional;

		@include responsive-range(lrgbelowdown) {
			margin-bottom: 1rem;
		}

		@include responsive-range(medbelowdown) {
			margin-bottom: 0.5rem;
		}
	}

	// CONTENT

	%content {
		width: 100%;
		padding: 2rem;
		overflow: hidden;
		background-color: #fff;
		color: #333;
		border: 1px solid #ccc;
		box-shadow: 2px 2px 2px 0px #bbbbbb;
		@extend %boxsizing-borderbox !optional;

		@include responsive-range(lrgbelowdown) {
			padding: 1rem;
		}

		@include responsive-range(medbelowdown) {
			margin-bottom: 0.5rem;
		}
	}
	%content-cs {
		float: left;
		width: 64%;
		//width: 264px;

		@include responsive-range(xlrgbelowdown) {
			width: 58%;
		}
		@include responsive-range(medbelowdown) {
			float: none;
			width: 100%;
		}
	}

	%content-home {
		padding: 1.25rem;

		@extend %boxsizing-borderbox !optional;

		@include responsive-range(lrgbelowdown) {
			padding: 1rem;
		}

		@include responsive-range(medbelowdown) {
			margin-bottom: 0.5rem;
		}
	}
	%content-cs-home {
		width: 66%;
		//width: 264px;

		@include responsive-range(xlrgbelowdown) {
			width: 58%;
		}
		@include responsive-range(medbelowdown) {
			float: none;
			width: 100%;
		}
	}

	// SIDEBAR-PRIMARY

	%sidebarprimary {
		width: 100%;
		@extend %boxsizing-borderbox !optional;
	}
	%sidebarprimary-cs {
		float: right;
		width: 34%;

		@include responsive-range(xlrgbelowdown) {
			width: 40%;
		}
		@include responsive-range(medbelowdown) {
			float: none;
			width: 100%;
		}
	}
	%sidebarprimary-home {}
	%sidebarprimary-cs-home {
		width: 32%;

		@include responsive-range(xlrgbelowdown) {
			width: 40%;
		}
		@include responsive-range(medbelowdown) {
			float: none;
			width: 100%;
		}
	}

	// SIDEBAR-SECONDARY

	%sidebarsecondary {
		@extend %sidebarsecondary !optional;
		@extend %responsive-layout-max !optional;
		@extend %boxsizing-borderbox !optional;
	}

// -------------------------------------
// SELECTORS

	// SITE-INNER

	.site-inner {
		@extend %siteinner !optional;

		.wrap {
			@extend %siteinnerwrap !optional;
		}
	}
	.site-inner > .wrap {
		@extend %siteinnerwraponly !optional;
	}
	.home .site-inner {
		@extend %siteinner !optional;

		.wrap {
			@extend %siteinnerwrap-home !optional;
		}
	}
	.home .site-inner > .wrap {
		@extend %siteinnerwraponly-home !optional;
	}

	// CONTENT-SIDEBAR-WRAP

	.content-sidebar-wrap {
		@extend %csw !optional;
	}
	.home .content-sidebar-wrap {
		@extend %csw-home !optional;
	}

	// CONTENT

	.content {
		@extend %content !optional;
	}
	.content-sidebar .content {
		@extend %content-cs !optional;
	}
	.home .content {
		@extend %content-home !optional;
	}
	.home.content-sidebar .content {
		@extend %content-cs-home !optional;
	}

	// SIDEBAR-PRIMARY

	.sidebar-primary {
		@extend %sidebarprimary !optional;
	}
	.content-sidebar .sidebar-primary {
		@extend %sidebarprimary-cs !optional;
	}
	.home .sidebar-primary {
		@extend %sidebarprimary-home !optional;
	}
	.home.content-sidebar .sidebar-primary {
		@extend %sidebarprimary-cs-home !optional;
	}

	// SIDEBAR-SECONDARY

	.sidebar-secondary {
		@extend %sidebarsecondary !optional;
	}