/* BASE_226 | WIDGETAREA | 226_CORMAIN | CSWBEFORE - 2016-03-24 */

// -------------------------------------
// FORMULA

// -------------------------------------
// EXTEND

	%cswbefore {
		display: block;
		clear: both;
		//padding-top: 1rem;
		padding-bottom: 1rem;
		box-sizing: border-box;
	}

	%cswbefore-areawrap {}

// -------------------------------------
// SELECTORS

	.cswbefore.widget-area {
		@extend %cswbefore !optional;
	
		.areawrap {
			@extend %cswbefore-areawrap !optional;		
		}

		.widget {
			margin-bottom: 0;
		}

		.widget-wrap {
			margin-bottom: 0;
		}

	}