/* BASE_226 | WIDGETAREA | 226_CORMAIN | CSWAFTER - 2016-05-10 */

// -------------------------------------
// FORMULA

// -------------------------------------
// EXTEND

	%cswafter {
		display: block;
		clear: both;
		padding-top: 1rem;
		//padding-bottom: 1rem;
		box-sizing: border-box;
	}

	%cswafter-areawrap {}

// -------------------------------------
// SELECTORS

	.cswafter.widget-area {
		@extend %cswafter !optional;
	
		.areawrap {
			@extend %cswafter-areawrap !optional;
		}

		.widget {
			margin-bottom: 0;
		}

		.widget-wrap {
			margin-bottom: 0;
		}

	}