/* BASE_226 | WIDGET | 226_CORMAIN_STYLE | WIDGET - 2016-01-19 */

// -------------------------------------
// EXTEND

	%widget {}

		%sidebar-widget {}
		%sidebarprimary-widget {
			background-color: #fff;
			border: 1px solid #ccc;
			padding: 2rem;
			margin-bottom: 1rem;
			box-shadow: 2px 2px 2px 0px #bbbbbb;
			@extend %boxsizing-borderbox !optional;

			@include responsive-range(lrgbelowdown) {	
				padding: 1rem;
				margin-bottom: 0.5rem;
				background-color: #fff;
			}

			@include responsive-range(smldown) {
				//box-shadow: none;
			}
		}
		%sidebarsecondary-widget {}
		%siteheader-widget {}
		%footerwidgets-widget {}
		%afterentry-widget {}

// -------------------------------------
// SELECTORS

	.widget {
		@extend %widget !optional;
	}

		// SIDEBAR

		.sidebar {
			.widget {
				@extend %sidebar-widget !optional;
			}
		}
		.sidebar.sidebar-primary {
			.widget {
				@extend %sidebarprimary-widget !optional;
			}
		}
		.sidebar.sidebar-secondary {
			.widget {
				@extend %sidebarsecondary-widget !optional;
			}
		}

		// SITE-HEADER

		.site-header {
			.widget {
				@extend %siteheader-widget !optional;				
			}
		}

		// FOOTER-WIDGETS

		.footer-widgets {
			.widget {
				@extend %footerwidgets-widget !optional;
			}
		}

		// AFTER-ENTRY

		.after-entry {
			.widget {
				@extend %afterentry-widget !optional;
			}
		}