/* BASE_226 | HEADER | 226_CORMAIN_STYLE | CONTENT - 2016-01-19 */

// -------------------------------------
// FORMULA

	%content-formula {}

// -------------------------------------
// EXTEND

	%content {
		width: 64%;
		background-color: #fff;
		border: 1px solid #ccc;
		padding: 1rem;
		overflow: hidden;
		box-shadow: 2px 2px 2px 0px #bbbbbb;
		@extend %boxsizing-borderbox !optional;

		@include responsive-mobile(mobile) {
			width: 100%;
			margin-bottom: 1rem;
		}

		@include responsive-mobile(mobile-sml) {
			margin-bottom: 0.5rem;
		}
	}

// -------------------------------------
// SELECTORS

	.content {
		@extend %content-formula !optional;
		@extend %content !optional;
	}