/* BASE_226 | FOOTER | 226_CORMAIN_STYLE | SITEFOOTER - 2016-01-26 */

// -------------------------------------
// FORMULA

	%sitefooter-formula {}
	%sitefooterwrap-formula {}
	%sitefooterwraponly-formula {}

// -------------------------------------
// EXTEND

	%sitefooter {
		//background-image: linear-gradient(#ddd, #f0f0f0);
		background-color: #dbdbdb;
	}
	%sitefooterwrap {
		max-width: #{$size-inside}rem;
		padding-top: #{$size-half}rem;
		padding-right: 1rem;
		padding-bottom: #{$size-half}rem;
		padding-left: 1rem;
		margin-right: auto;
		margin-left: auto;
		background-color: #ddd;
		@extend %boxsizing-borderbox !optional;
	}
	%sitefooterwraponly {}

// -------------------------------------
// SELECTORS

	.site-footer {
		@extend %sitefooter-formula !optional;
		@extend %sitefooter !optional;

		.wrap {
			@extend %sitefooterwrap-formula !optional;
			@extend %sitefooterwrap !optional;
		}
	}
	.site-footer > .wrap {
		@extend %sitefooterwraponly-formula !optional;
		@extend %sitefooterwraponly !optional;
	}