/*
	Theme Name: COR
	Theme URI: http://layout.basestructure.com/cor
	Description: Starting model for UnderstadingRelationships.com
	Author: Mark Corpuz
	Author URI: http://markcorpuz.com/

	Version: 2.3.0.1

	Template: genesis  
	Template Version: 2.3.0

	License: GPL-2.0+  
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/