/* BASE_227 | LAYOUT | 227_BASE > COR-MAIN | FOOTER - 2016-06-14 */

// -------------------------------------
// EXTEND

	// SITE-FOOTER

	%sitefooter {
		background-color: #dbdbdb;
	}
	%sitefooterwrap {
		//max-width: #{$size-inside}rem;
		margin-right: auto;
		margin-left: auto;
		padding-top: #{$size-half}rem;
		padding-right: 1rem;
		padding-bottom: #{$size-half}rem;
		padding-left: 1rem;
		background-color: #ddd;
		@extend %boxsizing-borderbox !optional;
	}
	%sitefooterwraponly {}

	// FOOTER-WIDGETS

	%footerwidgets {
		background-color: #a8c3e1;
	}
	%footerwidgetswrap {
		//max-width: #{$size-inside}rem;
		padding: #{$size-default}rem;
		margin-right: auto;
		margin-left: auto;
		//background-color: #eee;
		@extend %boxsizing-borderbox !optional;
	}
	%footerwidgetswraponly {}

	%footerwidgets1 {
		width: 30%;
		margin-right: 3%;
		float: left;
		@extend %boxsizing-borderbox !optional;

		@include responsive-range(meddown) {
			width: 100%;
			margin-right: 0;
			float: none;
		}
	}

	%footerwidgets2 {
		width: 30%;
		margin-right: 3%;
		float: left;
		@extend %boxsizing-borderbox !optional;

		@include responsive-range(meddown) {
			width: 100%;
			margin-right: 0;
			float: none;
		}
	}

	%footerwidgets3 {
		width: 34%;
		float: left;
		@extend %boxsizing-borderbox !optional;

		@include responsive-range(meddown) {
			width: 100%;
			margin-right: 0;
			float: none;
		}
	}


// -------------------------------------
// SELECTORS

	// SITE-FOOTER

	.site-footer {
		@extend %sitefooter !optional;

		.wrap {
			@extend %sitefooterwrap !optional;
		}
	}
	.site-footer > .wrap {
		@extend %sitefooterwraponly !optional;
	}

	// FOOTER-WIDGETS

	.footer-widgets {
		@extend %footerwidgets !optional;

		.wrap {
			@extend %footerwidgetswrap !optional;
		}
	}
	.footer-widgets > .wrap {
		@extend %footerwidgetswraponly !optional;
	}

	.footer-widgets-1 {
		@extend %footerwidgets1 !optional;
	}

	.footer-widgets-2 {
		@extend %footerwidgets2 !optional;
	}

	.footer-widgets-3 {
		@extend %footerwidgets3 !optional;
	}