/* BASE_227 | LAYOUT | 227_BASE > COR-MAIN | STRUCTURE - 2016-05-23 */

// -------------------------------------
// EXTEND

	// BODY

	%body {
		background-color: #3768A0;
		font-weight: $fontweight-normal;
	}

	// SITE-CONTAINER

	%sitecontainer {
		background-color: #fff;
		max-width: #{$width-mid}rem;
		margin: 0 auto 5rem;
		padding: 1rem;

		@include responsive-range(xlrgbelowdown) {
			margin-bottom: 1.5rem;
		}

		@include responsive-range(medbelowdown) {
			padding: 0;
		}
	}


// -------------------------------------
// SELECTORS

	// BODY

	body {
		@extend %body !optional;
	}

	// SITE-CONTAINER

	.site-container {
		@extend %sitecontainer !optional;
	}