/* BASE_226 | MENU | 226_BASE_ATMOSPHEREPRO | MENUITEM-GNM - 2016-03-17 */

// -------------------------------------
// EXTEND

	// GENESIS-NAV-MENU MENU-ITEM
	%gnm-menuitem {
		display: inline-block;
		text-align: left;
	}
	%gnm-menuitem-a {}
	%gnm-menuitem-hvr {
		position: static;
	}

		// GENESIS-NAV-MENU LEVEL 1 MENU-ITEM
		%gnm-menuitemlvlone {}
		%gnm-menuitemlvlone-a {
			background-color: paleturquoise;
		}
		%gnm-menuitemlvlone-hvr {}

		// GENESIS-NAV-MENU MENU-ITEM > SUBMENU
		%gnm-menuitem-submenu {}
		// GENESIS-NAV-MENU MENU-ITEM:HOVER > SUBMENU
		%gnm-menuitemhvr-submenu {
			left: auto;
			opacity: 1;
		}
		
		// GENESIS-NAV-MENU MENU-ITEM MENU-ITEM-HAS-CHILDREN
		%gnm-menuitemhaschildren {}
		%gnm-menuitemhaschildren-a {}
		%gnm-menuitemhaschildren-hvr {}

		// GENESIS-NAV-MENU SUB-MENU MENU-ITEM
		%gnm-submenu-menuitem {}
		%gnm-submenu-menuitem-a {}
		%gnm-submenu-menuitem-hvr {}

// -------------------------------------
// SELECTORS

	// GENESIS-NAV-MENU MENU-ITEM
	.genesis-nav-menu .menu-item {
		@extend %gnm-menuitem-formula !optional;
		@extend %gnm-menuitem !optional;
	
		a {
			@extend %gnm-menuitem-a-formula !optional;
			@extend %gnm-menuitem-a !optional;
		
			&:hover {
				@extend %gnm-menuitem-hvr-formula !optional;
				@extend %gnm-menuitem-hvr !optional;
			}
		}
	}

		// GENESIS-NAV-MENU LEVEL 1 MENU-ITEM
		.genesis-nav-menu > .menu-item {
			@extend %gnm-menuitemlvlone !optional;
		}
		.genesis-nav-menu > .menu-item > a {
			@extend %gnm-menuitemlvlone-a !optional;
		}
		.genesis-nav-menu > .menu-item > a:hover {
			@extend %gnm-menuitemlvlone-hvr !optional;
		}

		// GENESIS-NAV-MENU MENU-ITEM > SUB-MENU
		.genesis-nav-menu .menu-item > .sub-menu {
			@extend %gnm-menuitem-submenu !optional;
		}
		// GENESIS-NAV-MENU MENU-ITEM:HOVER > SUB-MENU
		.genesis-nav-menu .menu-item:hover > .sub-menu {
			@extend %gnm-menuitemhvr-submenu !optional;
		}		

		// GENESIS-NAV-MENU MENU-ITEM.MENU-ITEM-HAS-CHILDREN
		.genesis-nav-menu .menu-item.menu-item-has-children {
			@extend %gnm-menuitemhaschildren !optional;
		}
		.genesis-nav-menu .menu-item.menu-item-has-children > a {
			@extend %gnm-menuitemhaschildren-a !optional;
		}
		.genesis-nav-menu .menu-item.menu-item-has-children > a:hover {
			@extend %gnm-menuitemhaschildren-hvr !optional;
		}

		// GENESIS-NAV-MENU SUB-MENU MENU-ITEM
		.genesis-nav-menu .sub-menu > .menu-item {
			@extend %gnm-submenu-menuitem !optional;
		}
		.genesis-nav-menu .sub-menu > .menu-item > a {
			@extend %gnm-submenu-menuitem-a !optional;
		}
		.genesis-nav-menu .sub-menu > .menu-item > a:hover {
			@extend %gnm-submenu-menuitem-hvr !optional;
		}