/* BASE_226 | MENU | 226_BASE_ATMOSPHEREPRO | MENU - 2016-03-17 */

// -------------------------------------
// EXTEND

	%menu {}

	%gnm {
		clear: both;
		width: 100%;
		margin-bottom: 0;
	}
	%gnm-a {
		display: block;
		padding: 10px;
		box-sizing: border-box;
	}
	%gnm-hvr {}

	%menugnm {
		//clear: both;
	}
	%navheader-menugnm {}
	%menuprimarymenugnm {
		//margin-bottom: 0;
		//text-align: center;
	}
	%menusecondarymenugnm {
		//margin-bottom: 0;
		//text-align: center;
	}
	%widget-menu {}
	%sidebar-menu {}
	%footerwidgets-menu {}

// -------------------------------------
// SELECTORS

	.menu {
		@extend %menu !optional;
	}

	.genesis-nav-menu {
		@extend %gnm !optional;

		a {
			@extend %gnm-a !optional;
		
			&:hover {
				@extend %gnm-hvr !optional;
			}
		}

	}

	.menu.genesis-nav-menu {
		@extend %menugnm !optional;
	}

	.nav-header .genesis-nav-menu.menu {
		@extend %navheader-menugnm !optional;
	}

	.menu-primary.genesis-nav-menu.menu {
		@extend %menuprimarymenugnm !optional;
	}

	.menu-secondary.genesis-nav-menu.menu {
		@extend %menusecondarymenugnm !optional;
	}

	.widget .menu {
		@extend %widget-menu !optional;
	}

	.sidebar .menu {
		@extend %sidebar-menu !optional;
	}

	.footer-widgets .menu {
		@extend %footerwidgets-menu !optional;
	}