/* BASE_226 | MENU | 226_BASE_ATMOSPHEREPRO | NAVPRIMARY - 2016-03-17 */

// -------------------------------------
// EXTEND

	%navprimary {
		background-color: orange;
		//background-color: #0d527f;
	}
	%navprimarywrap {
		margin: 0;
		padding: 0;
		//max-width: #{$size-inside}rem;
		//margin: 0 auto;
	}
	%navprimarywraponly {}

// -------------------------------------
// SELECTORS

	.nav-primary {
		@extend %navprimary !optional;

		.wrap {
			@extend %navprimarywrap !optional;
		}
	}
	.nav-primary > .wrap {
		@extend %navprimarywraponly !optional;
	}