/* BASE_226 | MENU | 226_BASE_ATMOSPHEREPRO | NAVSECONDARY - 2016-03-17 */

// -------------------------------------
// EXTEND

	%navsecondary {
		background-color: yellow;
		//background-color: #147fc4;
	}
	%navsecondarywrap {
		max-width: #{$size-inside}rem;
		margin: 0 auto;
		padding-right: 3rem;
		padding-left: 3rem;
		box-sizing: border-box;
	}
	%navsecondarywraponly {}

// -------------------------------------
// SELECTORS

	.nav-secondary {
		@extend %navsecondary !optional;

		.wrap {
			@extend %navsecondarywrap !optional;
		}
	}
	.nav-secondary > .wrap {
		@extend %navsecondarywraponly !optional;
	}