/* BASE_226 | LAYOUT | 226_CORMAIN | FULL - 2016-01-19 */

// -------------------------------------
// FORMULA

	%full-csw-formula {}

	%full-content-formula {}

// -------------------------------------
// EXTEND

	%full-csw {
		float: none;
	}

	%full-content {
		width: 100%;
		float: none;
		padding: 1rem;
	}

// -------------------------------------
// SELECTORS

	.full-width-content .content-sidebar-wrap {
		@extend %full-csw-formula !optional;
		@extend %full-csw !optional;
	}

	.full-width-content .content {
		@extend %full-content-formula !optional;
		@extend %full-content !optional;
	}