/* BASE_226 | LAYOUT | 226_CORMAIN | SC - 2016-01-19 */

// -------------------------------------
// FORMULA

	%sc-csw-formula {}

	%sc-content-formula {}

	%sc-sidebarprimary-formula {}

// -------------------------------------
// EXTEND

	%sc-csw {
		float: right;
		padding: 1rem;
	}

	%sc-content {
		float: right;
	}

	%sc-sidebarprimary {
		float: left;
	}

// -------------------------------------
// SELECTORS

	.sidebar-content .content-sidebar-wrap {
		@extend %sc-csw-formula !optional;
		@extend %sc-csw !optional;
	}

	.sidebar-content .content {
		@extend %sc-content-formula !optional;
		@extend %sc-content !optional;
	}

	.sidebar-content .sidebar-primary {
		@extend %sc-sidebarprimary-formula !optional;
		@extend %sc-sidebarprimary !optional;
	}