/* BASE_226 | VARIABLES | 226_BASE | BREAKPOINT - 2016-01-12 */

// -------------------------------------
// VARIABLES

// BREAKPOINTS

	$break-base-up: 					72.563;		// 1161px
	$break-base:						72.5;		// 1160px
	$break-base-down: 					72.438;		// 1159px

	$break-huge-up: 					72.563;		// 1161px
	$break-huge: 						72.5;		// 1160px
	$break-huge-down: 					72.438;		// 1159px

	$break-lrg-up: 						60.063;		// 961px
	$break-lrg: 						60;			// 960px
	$break-lrg-down: 					59.938;		// 959px

	$break-med-up: 						48.063; 	// 769px
	$break-med: 						48;			// 768px
	$break-med-down: 					47.938; 	// 767px

	$break-sml-up: 						30.063;		// 481px
	$break-sml: 						30;			// 480px
	$break-sml-down: 					29.938; 	// 479px

	$break-tiny-up: 					20.063;		// 321px
	$break-tiny:						20;			// 320px
	$break-tiny-down: 					19.938;		// 319px

	$break-zero: 						0;

// DESKTOP

	$break-desktop-up: 					72.563;		// 1161px
	$break-desktop:						72.5;		// 1160px

// MOBILE

	$break-mobile-down: 				72.438;		// 1159px