/* BASE_226 | VARIABLES | 226_CORMAIN_STYLE | FONTFAMILY - 2016-9-14 */

// -------------------------------------
// VARIABLES

// RELATIVE

	$fontfamily-compact:				"Lato",arial,sans-serif;
	$fontfamily-narrow:					"Roboto Condensed",arial,sans-serif;
	$fontfamily-regular:				"Roboto",arial,sans-serif;
	$fontfamily-wide:					"Lato",arial,sans-serif;
	$fontfamily-script:					"Dancing Script",cursive,sans-serif;

// DEFAULT

	$fontfamily-default:				"Roboto",arial,sans-serif;

// BODY

	$fontfamily-body:					arial,sans-serif;

// TITLES

	$fontfamily-titlepage:				null;
	$fontfamily-titlepost:				null;
	$fontfamily-titlewidget:			null;
	$fontfamily-titlearchive:			null;

// USAGE

	$fontfamily-sitetitle:				"Roboto",arial,sans-serif;
	$fontfamily-sitedescription:		"Roboto",arial,sans-serif;
	$fontfamily-copyright:				null;
	$fontfamily-meta:					"Lato",arial,sans-serif;
	$fontfamily-breadcrumb:				"Lato",arial,sans-serif;
	$fontfamily-entrytitle:				"Lato",arial,sans-serif;
	$fontfamily-entrymeta:				"Lato",arial,sans-serif;


// TEMPORARY

	$fontfamily-menu-primary:			"Lato",arial,sans-serif;
	$fontfamily-menu-secondary:			"Lato",arial,sans-serif;

// PARAGRAPH

	$fontfamily-paragraph:				null;

// WIDGET

	$fontfamily-widgettitle:			null;