/* BASE_226 | VARIABLES | 226_BASE | LINEHEIGHT - 2016-01-12 */

// -------------------------------------
// VARIABLES

// DEFAULT

	$lineheight-default:				1.2;

// BODY

	$lineheight-body:					1.4;

// PARAGRAPH

	$lineheight-p:						1.4;

// BLOCKQUOTE

	$lineheight-blockquote:				1.6;

// CITE

	$lineheight-cite:					1.2;

// CITE

	$lineheight-caption:				1.1;

// LIST

	$lineheight-ul:						1.2;
	$lineheight-ol:						1.2;
	$lineheight-li:						1.2;

// HEADLINE

	$lineheight-hx:						1.2;
	$lineheight-h1:						1.2;
	$lineheight-h2:						1.2;
	$lineheight-h3:						1.2;
	$lineheight-h4:						1.2;
	$lineheight-h5:						1.2;
	$lineheight-h6:						1.2;

// SCALE

	$lineheight-huge:					1.2;
	$lineheight-xlrg:					1.2;
	$lineheight-lrg:					1.2;
	$lineheight-med:					1.2;
	$lineheight-sml:					1.2;
	$lineheight-xsml:					1.2;
	$lineheight-xxsml:					1.2;
	$lineheight-xxxsml:					1.2;
	$lineheight-tiny:					1.2;

// PERCENTAGE

	$lineheight-half:					0.5;
	$lineheight-threefourth:			0.75;
	$lineheight-single:					1.0;
	$lineheight-onehalf:				1.5;
	$lineheight-onequarter:				1.25;
	$lineheight-onefifth:				1.2;
	$lineheight-double:					2.0;
	$lineheight-triple:					3.0;