/* BASE_226 | VARIABLES | 226_BASE | SIZE - 2016-01-12 */

// -------------------------------------
// VARIABLES

// SPACE

	$size-default:						1.0;		// 16px
	$size-half:							0.5;		// 8px
	$size-quarter:						0.25;		// 4px
	$size-double:						2.0;		// 32px
	$size-triple:						3.0;		// 48px

// STRUCTURE

	$size-container:					72.5; 		// 1160px
	$size-outside:						72.5; 		// 1160px
	$size-inside:						72.5; 		// 1160px

	$size-header:						72.5; 		// 1160px
	$size-headerwrap:					72.5; 		// 1160px

	$size-inner:						72.5; 		// 1160px
	$size-innerwrap:					72.5; 		// 1160px

	$size-footerwidgets:				72.5; 		// 1160px
	$size-footerwidgetswrap:			72.5; 		// 1160px

	$size-footer:						72.5; 		// 1160px
	$size-footerwrap:					72.5; 		// 1160px

// BODY

	$size-body:							1.0;		// 16px

// PARAGRAPH

	$size-p:							1.0;		// 16px

// LIST

	$size-ul:							1.0;		// 16px
	$size-ol:							1.0;		// 16px
	$size-li:							1.0;		// 16px

// HEADLINE

	$size-h1:							2.25;		// 36px
	$size-h2:							1.875;		// 30px
	$size-h3:							1.5;		// 24px
	$size-h4:							1.125;		// 18px
	$size-h5:							0.875;		// 14px
	$size-h6:							0.75;		// 12px

// SCALE

	$size-tiny:							0.063;		// 1px
	$size-xxxsml:						0.125;		// 2px
	$size-xxsml:						0.313;		// 5px
	$size-xsml:							0.625;		// 10px
	$size-sml:							0.938; 		// 15px
	$size-med:							1.563; 		// 25px
	$size-lrg:							3.125;		// 50px
	$size-xlrg:							6.25;		// 100px
	$size-huge:							12.5;		// 200px

// LINE

	$size-line-tiny:					0.063;		// 1px
	$size-line-xxxsml:					0.125;		// 2px
	$size-line-xxsml:					0.313;		// 5px
	$size-line-xsml:					0.625;		// 10px
	$size-line-sml:						0.938; 		// 15px
	$size-line-med:						1.563; 		// 25px
	$size-line-lrg:						3.125;		// 50px
	$size-line-xlrg:					6.25;		// 100px
	$size-line-huge:					12.5;		// 200px

// LINE

	$size-line:							1;
	$size-doubleline:					2;

// IMG

	$size-img-thumbnail:				9.375;		// 150px
	$size-img-medium:					18.75;		// 300px
	$size-img-large:					40;			// 640px
	$size-img-full:						72.5;		// 1160px